html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 80vw;
    margin: auto;
    display: flex;
}


#left-image {
    background-image: url("halie-west-unsplash-ferns.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 40%;
    
}

#image-credit,
a {
    color: white;
}

#right-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}


#text,
#submit-button {
    flex: 1;
}

#form-container {
    background-color: white;
    box-shadow: -2px 2px 5px gray;
}